<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href={{static_url( "css/style.css")}} />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ColinShi的测试微博站点</title>
</head>
<header>
    <nav>
        <a href="/">发布微博</a> |
        <a href="/wholikeme">wholikeme</a> |
        <a href="/userlist">关注的好友</a> |
        <a href="/weiboself">已发布的微博</a> |
        <a href="/register">注册新用户</a> |
        <a href="/login">登入</a> |
        <a href="/logout">登出</a> |
    </nav>
    <hr/>
</header>

<body>
    {% block body%} {% end %}
</body>
<content>
    {% block content %} {% end %}
</content>
<footer>
    <h5 align="center">{% set website = "<a href='http://127.0.0.1:8000'>ColinShi的微博测试网站</a>" %}
     {% raw website %}</h5>
</footer>

</html>